{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Clock-In</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://bootswatch.com/5/slate/bootstrap.min.css"
    /> 
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/style.css' %}"
    />
  </head>
  <body>
    <header>
      <h1>Welcome to CLOCK-IN Site</h1>
    </header>
    <nav>
      <!-- Navigation links -->
    </nav>
    <main>
      {% include 'employee_app/navbar.html' %}
      {% block content %}
      <!-- Default content goes here -->
      {% endblock %}
    </main>
    <footer>© 2024 CLOCK-IN Site</footer>
    <script src="{% static 'js/app.js' %}"></script>
    <!-- 
    https://getbootstrap.com/docs/4.4/getting-started/introduction/
    -->
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
      integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
